# Web framework
fastapi
uvicorn[standard]
passlib[bcrypt]
bcrypt==4.0.1

# Configuration & environment variables
pydantic[email]
pydantic-settings
python-dotenv
email-validator

# File uploads
python-multipart

# Database
sqlalchemy
alembic
psycopg2-binary
psycopg[binary]

# HTTP client
httpx

# Testing
pytest
pytest-asyncio

# JWT and security
python-jose[cryptography]

